node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build cache penuh (standalone sudah cukup)
.next
out

# Source control & env lokal
.git
.gitignore
.github

# File upload (harus di volume, jangan di-bake ke image)
public/uploads
storage

# Dev / test
*.md
.env
.env.*
!.env.example
test-file.js
.eslintrc*
